{
  "openapi": "3.1.0",
  "info": {
    "title": "Thicket",
    "version": "2026-09-25",
    "description": "Thicket's versioned REST API. The web app runs on the same routes, so everything the product does is here. Human-readable reference: https://www.thickethq.com/developers/api",
    "contact": {
      "name": "Thicket support",
      "email": "support@thickethq.com"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://www.thickethq.com"
    }
  ],
  "security": [
    {
      "personalAccessToken": []
    },
    {
      "sessionToken": []
    }
  ],
  "tags": [
    {
      "name": "Authorization"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Recordings"
    },
    {
      "name": "Check-ins"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Progress & health"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Calendar"
    },
    {
      "name": "Files"
    },
    {
      "name": "People"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Search & reports"
    },
    {
      "name": "Timesheets"
    },
    {
      "name": "Trash & admin"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Me"
    }
  ],
  "paths": {
    "/api/v1/{orgSlug}/account": {
      "get": {
        "operationId": "getAccount",
        "tags": [
          "Organizations"
        ],
        "summary": "The account document",
        "description": "Identity, owners, plan limits, can-do flags, and settings for the caller's organization (any member). `logo` is omitted when unset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "The account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgAccount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "renameAccount",
        "tags": [
          "Organizations"
        ],
        "summary": "Rename the account",
        "description": "Owner only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      },
      "delete": {
        "operationId": "cancelAccount",
        "tags": [
          "Organizations"
        ],
        "summary": "Cancel the account",
        "description": "Owner only, effective immediately: the org turns invisible everywhere, any Stripe subscription is cancelled, and every owner gets a confirmation email. Data is retained for a 30-day restore window (POST /api/v1/orgs/{orgId}/restore); after that the purge task hard-deletes rows and storage.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/account/export": {
      "get": {
        "operationId": "exportAccount",
        "tags": [
          "Organizations"
        ],
        "summary": "Export the account as JSON",
        "description": "Owner only; the response is a JSON attachment. `?projects=id,id` limits content to those projects (people, companies, and groups always ride along). Private chats and personal notes are never included; use /account/export/chats for transcripts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "projects",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated project ids to limit the content"
          }
        ],
        "responses": {
          "200": {
            "description": "The export document (Content-Disposition: attachment)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/account/export/chats": {
      "get": {
        "operationId": "exportPrivateChats",
        "tags": [
          "Organizations"
        ],
        "summary": "Export private-chat transcripts",
        "description": "Owner only; deliberately split from the account export because of the privacy weight it carries. Transcripts (participants plus author, timestamp, and content lines) for the chosen conversations, as a JSON attachment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated DM recording ids, at least one"
          }
        ],
        "responses": {
          "200": {
            "description": "The transcripts document (Content-Disposition: attachment)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/account/logo": {
      "put": {
        "operationId": "uploadAccountLogo",
        "tags": [
          "Organizations"
        ],
        "summary": "Upload or replace the account logo",
        "description": "Admin and up. Multipart upload, `logo` field, any decodable image up to 5 MB; the server re-encodes it to a square webp.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "logo"
                ],
                "properties": {
                  "logo": {
                    "type": "string",
                    "format": "binary",
                    "description": "Any decodable image, 5 MB max"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Stored"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccountLogo",
        "tags": [
          "Organizations"
        ],
        "summary": "Remove the account logo",
        "description": "Admin and up.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/account/storage": {
      "get": {
        "operationId": "getStorageUsage",
        "tags": [
          "Organizations"
        ],
        "summary": "Storage usage vs the plan limit",
        "description": "Total usage, the plan's limit, and the largest files. Private-chat and unposted-draft uploads count toward usage but are never listed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage and the largest files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageUsage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/activity": {
      "get": {
        "operationId": "listActivity",
        "tags": [
          "Search & reports"
        ],
        "summary": "The account-wide activity timeline",
        "description": "Everything that happened across your accessible projects, newest first, ready to group by day client-side. Same visibility rules as the Latest-activity page: trashed content and non-client-visible recordings filtered, chat and DM lines never logged. Filters: `project_id`, `person_id` (the actor), `starred=1` (your starred projects), `since` (ISO datetime), `q` (matches title, actor name, or content text).",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Only this actor's events"
          },
          {
            "name": "starred",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "Pass 1 to limit to your starred projects"
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only events after this instant"
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma list of event actions, e.g. card_added,move (a container-watch poll)"
          },
          {
            "name": "recording_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Only events about recordings of this type"
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Only events about recordings inside this container (a column, a list): the container-watch poll"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keyword filter: title, actor name, or content text"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity events, newest first (default page size 50)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityEvent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/agents": {
      "get": {
        "operationId": "listAgents",
        "tags": [
          "People"
        ],
        "summary": "List the organization's AI agents",
        "description": "Every active agent membership with its operators and presence. Any member may read this; the token summary is included for owners and admins only. An agent is a member without a seat or a sign-in: mention it, assign it, cheer it like a person; it acts only on directives from whoever may direct it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createAgent",
        "tags": [
          "People"
        ],
        "summary": "Create an AI agent",
        "description": "Owners and admins. Creates a member of kind `agent` (no seat, no sign-in) whose first operator is the creator unless `operator_ids` is given. Mint its token with `POST /agents/{agentId}/token`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "directable_by": {
                    "type": "string",
                    "enum": [
                      "operators",
                      "members"
                    ]
                  },
                  "operator_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "maxItems": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/agents/{agentId}": {
      "get": {
        "operationId": "getAgent",
        "tags": [
          "People"
        ],
        "summary": "Get an AI agent",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The agent's membership id"
          }
        ],
        "responses": {
          "200": {
            "description": "The agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateAgent",
        "tags": [
          "People"
        ],
        "summary": "Rename an agent, change who may direct it, or reactivate it",
        "description": "Owners and admins. `active: true` reactivates a deactivated agent (a new token must then be minted).",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "directable_by": {
                    "type": "string",
                    "enum": [
                      "operators",
                      "members"
                    ]
                  },
                  "active": {
                    "type": "boolean",
                    "enum": [
                      true
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      },
      "delete": {
        "operationId": "deactivateAgent",
        "tags": [
          "People"
        ],
        "summary": "Deactivate an agent",
        "description": "Owners and admins. Revokes its token and soft-removes the membership (past work keeps its name). Reversible with PATCH `{active: true}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/agents/{agentId}/operators": {
      "put": {
        "operationId": "setAgentOperators",
        "tags": [
          "People"
        ],
        "summary": "Replace who may direct an agent",
        "description": "Owners and admins. Operators must be current non-client people of this organization; unknown or ineligible ids are refused, never dropped.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operator_ids"
                ],
                "properties": {
                  "operator_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "maxItems": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new operator list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "operators"
                  ],
                  "properties": {
                    "operators": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "membership_id",
                          "name"
                        ],
                        "properties": {
                          "membership_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/agents/{agentId}/token": {
      "post": {
        "operationId": "mintAgentToken",
        "tags": [
          "People"
        ],
        "summary": "Mint or rotate the agent's token",
        "description": "Owners and admins, from a signed-in session only (a bearer gets 403 `session_required`, like every token-management route). Any live token for the agent is revoked first. The plaintext is returned exactly once.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "string",
                    "enum": [
                      "read",
                      "full"
                    ],
                    "default": "full"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Minted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "id",
                    "token_prefix",
                    "scope",
                    "created_at"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "The secret, shown once"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "token_prefix": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "read",
                        "full"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/billing": {
      "get": {
        "operationId": "getBilling",
        "tags": [
          "Billing"
        ],
        "summary": "Current plan, status, and usage",
        "description": "Tier, subscription status, trial and period dates, plus usage against the plan's limits. In `limits`, -1 means unlimited; one `people` pool covers members and guests alike, clients included.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "The billing document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/billing/change-plan": {
      "post": {
        "operationId": "changePlan",
        "tags": [
          "Billing"
        ],
        "summary": "Switch plans on the live subscription",
        "description": "Owner only. Swaps the price on the existing Stripe subscription with prorations, never a second subscription, and syncs the local row in-request so the change reads back immediately. 404 when there is no live subscription; 422 when the account is already on that plan. A downgrade below the org's active-project count is allowed: the org lands over-limit and the home chooser archives projects down, restorably.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan"
                ],
                "properties": {
                  "plan": {
                    "type": "string",
                    "enum": [
                      "starter",
                      "pro"
                    ]
                  },
                  "billing_interval": {
                    "type": "string",
                    "enum": [
                      "monthly",
                      "yearly"
                    ],
                    "default": "monthly"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The synced plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tier",
                    "billing_interval",
                    "status"
                  ],
                  "properties": {
                    "tier": {
                      "type": "string",
                      "enum": [
                        "free",
                        "starter",
                        "pro",
                        "comped"
                      ]
                    },
                    "billing_interval": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "monthly",
                        "yearly",
                        null
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "trialing",
                        "past_due",
                        "cancelled",
                        "pending",
                        "comped",
                        "lapsed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/billing/create-checkout": {
      "post": {
        "operationId": "createCheckout",
        "tags": [
          "Billing"
        ],
        "summary": "Create a Stripe Checkout session",
        "description": "Owner only. Verifies the price (from GET /api/billing/prices) and returns a Checkout URL to redirect the buyer to. The signup trial is the only trial an org ever gets: a session created mid-trial carries a trial_end aligned to the existing end date, never restarted, and every other org is charged at checkout. Under 48 hours of trial left checks out as an immediate charge.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "price_id"
                ],
                "properties": {
                  "price_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "billing_interval": {
                    "type": "string",
                    "enum": [
                      "monthly",
                      "yearly"
                    ],
                    "default": "monthly"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Checkout session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "Redirect the buyer here"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown, inactive, or non-Thicket price (code bad_request)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/billing/create-portal": {
      "post": {
        "operationId": "createBillingPortal",
        "tags": [
          "Billing"
        ],
        "summary": "Create a Stripe customer portal session",
        "description": "Owner only: payment method, invoices, and cancellation. The optional `{\"flow\": \"subscription_cancel\"}` body deep-links the portal's cancel-subscription confirmation (404 without a subscription). Plan switching is not portal work; it rides /billing/change-plan.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flow": {
                    "type": "string",
                    "enum": [
                      "subscription_cancel"
                    ],
                    "description": "Deep-link the portal's cancel-subscription confirmation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The portal session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Redirect the owner here"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/bulletins": {
      "get": {
        "operationId": "listBulletins",
        "tags": [
          "Notifications"
        ],
        "summary": "The announcements archive",
        "description": "Published platform announcements, newest first: global content read through an org-scoped URL, personalized per viewer ({{first_name}} interpolated, excerpts capped at 200 chars).",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Published announcements, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bulletins"
                  ],
                  "properties": {
                    "bulletins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BulletinSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/bulletins/{bulletinId}": {
      "get": {
        "operationId": "getBulletin",
        "tags": [
          "Notifications"
        ],
        "summary": "One announcement",
        "description": "The way to open an `action: \"announced\"` notification row (those carry a bulletin_id instead of a recording_id). Published bulletins read for anyone in the org; a draft reads only for someone holding their own tray row for it (a test send), everyone else gets 404. Reading marks the caller's notification row read, same as opening the page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "bulletinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The announcement, personalized for the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bulletin"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/calendar": {
      "get": {
        "operationId": "listCalendarItems",
        "tags": [
          "Calendar"
        ],
        "summary": "The global calendar window",
        "description": "Events (and optionally due tasks) across every accessible project's calendar plus the account calendar. Recurring events expand at read time: each occurrence arrives as its own row carrying `occurrence_key`, the anchor-zone day key the occurrences DELETE endpoint speaks. `from`/`to` accept ISO 8601 with an explicit offset, or a zoneless wall clock interpreted in the caller's resolved zone (their /me timezone preference, then the tz cookie, then UTC).",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window start; offset or zoneless wall clock"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window end"
          },
          {
            "name": "just",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "me",
                "everyone"
              ],
              "default": "everyone"
            },
            "description": "`me`: only items you created or are invited to"
          },
          {
            "name": "tasks",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include due to-dos and cards (per-request view state, not persisted)"
          },
          {
            "name": "projects",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated project ids to limit to"
          },
          {
            "name": "starred",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Limit to your starred projects"
          }
        ],
        "responses": {
          "200": {
            "description": "Items in the window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarOccurrence"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      },
      "post": {
        "operationId": "createCalendarEvent",
        "tags": [
          "Calendar"
        ],
        "summary": "Create an event",
        "description": "Invitees (`participant_ids`) are notified. `project_id` null or omitted targets the account calendar: org-level events with no project, non-clients only. Datetimes accept an explicit offset or a zoneless wall clock resolved in the caller's zone. All-day events are floating dates, encoded T00:00:00Z to T23:59:59Z by convention.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "starts_at"
                ],
                "properties": {
                  "project_id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "null or omitted: the account calendar"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "Plain-text notes, converted to HTML"
                  },
                  "content_html": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100000,
                    "description": "Rich notes (sanitized); wins over `content` when both are sent"
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ends_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "all_day": {
                    "type": "boolean",
                    "default": false
                  },
                  "link": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "A join link (video call etc.); reminders carry it"
                  },
                  "circled": {
                    "type": "boolean",
                    "default": false
                  },
                  "recurrence": {
                    "$ref": "#/components/schemas/CalendarRecurrence",
                    "description": "The repeat schedule; null means the event does not recur (clears it on update)"
                  },
                  "participant_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "maxItems": 100,
                    "description": "Membership ids to invite; they are notified"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/calendar/{eventId}": {
      "patch": {
        "operationId": "updateCalendarEvent",
        "tags": [
          "Calendar"
        ],
        "summary": "Edit an event",
        "description": "Edits apply to the whole series for recurring events; to change one day, or one day onward, use the occurrences PATCH endpoint, and to delete them the occurrences DELETE. Invitees are notified of the change. Same fields as create, all optional. `recurrence: null` stops the event recurring. A series keeps its own `exdates` whatever the request sends: each names a day that lives on as its own event or in the trash.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  },
                  "content": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 10000,
                    "description": "Plain-text notes, converted to HTML"
                  },
                  "content_html": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100000,
                    "description": "Rich notes (sanitized); wins over `content` when both are sent"
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ends_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "all_day": {
                    "type": "boolean"
                  },
                  "link": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "circled": {
                    "type": "boolean"
                  },
                  "recurrence": {
                    "$ref": "#/components/schemas/CalendarRecurrence",
                    "description": "The repeat schedule; null means the event does not recur (clears it on update)"
                  },
                  "participant_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "maxItems": 100,
                    "description": "Replaces the invitee set"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/calendar/{eventId}/ics": {
      "get": {
        "operationId": "downloadEventIcs",
        "tags": [
          "Calendar"
        ],
        "summary": "One event as an .ics file",
        "description": "\"Add to my calendar\": the event as a credential-authenticated iCalendar download (Content-Disposition: attachment). Recurring events export a year of occurrences. For an ongoing subscription mint a feed instead.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The iCalendar file",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string",
                  "description": "An RFC 5545 VCALENDAR document"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/calendar/{eventId}/occurrences/{date}": {
      "delete": {
        "operationId": "deleteEventOccurrence",
        "tags": [
          "Calendar"
        ],
        "summary": "Delete an occurrence of a recurring event",
        "description": "The trash prompt for recurring events (\"Only delete this event\" / \"Also delete all future events\"); recurring events only. What's deleted goes to the trash (`trashed_id`), and restoring it (`PUT /recordings/{trashed_id}/status/active`) puts the dates back into the series. Default: just this occurrence (`result: excluded`; the day is trashed as its own event). `?mode=future`: this and every later occurrence (`result: truncated`; the series ends the day before and the rest is trashed as one repeating event); from the first occurrence that trashes the whole series (`result: trashed`, `trashed_id` is the event itself). `date` is the occurrence's `occurrence_key`, the anchor-zone day key from the calendar listing; never derive it from `start` client-side. 404 when the series has no occurrence that day.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The occurrence's anchor-zone day key (YYYY-MM-DD)"
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "occurrence",
                "future"
              ],
              "default": "occurrence"
            },
            "description": "`future`: also delete all later occurrences"
          }
        ],
        "responses": {
          "200": {
            "description": "What happened to the series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result",
                    "trashed_id"
                  ],
                  "properties": {
                    "result": {
                      "type": "string",
                      "enum": [
                        "excluded",
                        "truncated",
                        "trashed"
                      ]
                    },
                    "trashed_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "What went to the trash; restoring it undoes the deletion"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateEventOccurrence",
        "tags": [
          "Calendar"
        ],
        "summary": "Edit an occurrence of a recurring event",
        "description": "The edit prompt for recurring events. Default (\"No, just change this event\"): the day splits off as its own event, linked to the series by `series_id` and `occurrence_key`, and takes the edit. `?mode=future` (\"Yes, change future occurrences too\"): the series ends the day before and a copy repeating from this day takes the edit; from the first occurrence the whole series is edited in place. Invitees hear about the change as with any edit, and a new date or time logs `rescheduled`. Returns the event that now carries the change, or the series unchanged when nothing changed. Same fields as editing an event, all optional. 404 when the series has no occurrence that day.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The occurrence's anchor-zone day key (YYYY-MM-DD)"
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "occurrence",
                "future"
              ],
              "default": "occurrence"
            },
            "description": "`future`: this and every later occurrence"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  },
                  "content": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 10000,
                    "description": "Plain-text notes, converted to HTML"
                  },
                  "content_html": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100000,
                    "description": "Rich notes (sanitized); wins over `content` when both are sent"
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ends_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "all_day": {
                    "type": "boolean"
                  },
                  "link": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "circled": {
                    "type": "boolean"
                  },
                  "recurrence": {
                    "$ref": "#/components/schemas/CalendarRecurrence",
                    "description": "`?mode=future` only: how the event repeats from this day on (a single day repeats with its series). `exdates` is ignored"
                  },
                  "participant_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "maxItems": 100,
                    "description": "Replaces the invitee set"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The event carrying the change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/calendar/feeds": {
      "get": {
        "operationId": "listCalendarFeeds",
        "tags": [
          "Calendar"
        ],
        "summary": "List your iCal feeds",
        "description": "Your active (unrevoked) feeds. Each `url` is a capability URL: the token in the path is the only credential the public /feeds/{token}.ics endpoint checks, so treat it like a password. Revoked feeds return 404 there.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Your feeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarFeed"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      },
      "post": {
        "operationId": "createCalendarFeed",
        "tags": [
          "Calendar"
        ],
        "summary": "Mint an iCal feed",
        "description": "A token-authenticated read-only ICS feed honoring the filters, for subscribing an external calendar app. The returned `url` is the capability: anyone holding it can read the feed until you revoke it. Clients cannot mint feeds and receive 404.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Legacy single-project scope; cannot be combined with project_ids"
                  },
                  "project_ids": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 500,
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "string",
                          "const": "account"
                        }
                      ]
                    },
                    "description": "Selected projects and/or the account calendar. Omit for all calendars. Cannot be combined with project_id."
                  },
                  "starred_only": {
                    "type": "boolean",
                    "description": "Follow your starred projects as they change (the calendar's Starred pick). Cannot be combined with project_id or project_ids (422)."
                  },
                  "include_tasks": {
                    "type": "boolean",
                    "description": "Include due to-dos and cards"
                  },
                  "just": {
                    "type": "string",
                    "enum": [
                      "me",
                      "everyone"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The feed's capability URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "The public /feeds/{token}.ics URL; the token is the credential"
                    },
                    "project_ids": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "description": "Acknowledged selection, or null for all calendars"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/calendar/feeds/{feedId}": {
      "delete": {
        "operationId": "revokeCalendarFeed",
        "tags": [
          "Calendar"
        ],
        "summary": "Revoke a feed",
        "description": "Effective immediately: the feed's public URL starts returning 404. Only your own feeds are revocable.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/calendar/parse": {
      "get": {
        "operationId": "parseCalendarInput",
        "tags": [
          "Calendar"
        ],
        "summary": "Parse natural-language event text",
        "description": "Prefill for the event form: \"Team call Friday at 10am\" becomes a title plus a start (and end, when a range was given). A suggestion the user confirms, never a silent commit. Relative dates and clock times mean the viewer's zone. When nothing date-like is found, the datetime fields come back null.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10000
            },
            "description": "The text to parse"
          }
        ],
        "responses": {
          "200": {
            "description": "The parse suggestion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarParseResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/categories": {
      "get": {
        "operationId": "listCategories",
        "tags": [
          "Recordings"
        ],
        "summary": "List message-board categories",
        "description": "Defaults are seeded per organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "The categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageCategory"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createCategory",
        "tags": [
          "Recordings"
        ],
        "summary": "Create a message-board category",
        "description": "Admin and up.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "icon": {
                    "type": "string",
                    "maxLength": 8,
                    "description": "An emoji"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageCategory"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/categories/{categoryId}": {
      "patch": {
        "operationId": "updateCategory",
        "tags": [
          "Recordings"
        ],
        "summary": "Update a category",
        "description": "Admin and up.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "icon": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageCategory"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      },
      "delete": {
        "operationId": "deleteCategory",
        "tags": [
          "Recordings"
        ],
        "summary": "Delete a category",
        "description": "Admin and up; deleting clears the category from posts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/chats": {
      "get": {
        "operationId": "listChats",
        "tags": [
          "Chat"
        ],
        "summary": "List your direct chats",
        "description": "Your conversations, latest activity first, with participants and a preview of the last line. Direct chats have no project, never appear in activity, and are visible only to their participants. `?status=archived` lists archived ones: readable (and searchable) forever, but no new lines post into them.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived"
              ],
              "default": "active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DmSummary"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      },
      "post": {
        "operationId": "findOrCreateChat",
        "tags": [
          "Chat"
        ],
        "summary": "Find or start a conversation",
        "description": "Finds the existing conversation with exactly these people or starts one; either way the `dm` recording comes back with 201. Your own id alone starts a chat with just yourself. You can message admins, owners, and anyone you share a project with. Lines are chat children: POST /recordings/{chat_id}/children with type chat_message; archive via PUT /recordings/{id}/status/archived (for everyone, cannot be undone).",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "membership_ids"
                ],
                "properties": {
                  "membership_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1,
                    "maxItems": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The conversation (found or created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/cheers/{cheerId}": {
      "delete": {
        "operationId": "removeCheer",
        "tags": [
          "Recordings"
        ],
        "summary": "Remove a cheer",
        "description": "Only whoever left the cheer, or an org admin or owner (403 otherwise; 404 when already gone). Works for recording cheers and event cheers alike.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "cheerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/companies": {
      "get": {
        "operationId": "listCompanies",
        "tags": [
          "People"
        ],
        "summary": "List companies",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "The organization's companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createCompany",
        "tags": [
          "People"
        ],
        "summary": "Create a company",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "is_client": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "is_client"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "is_client": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/companies/{companyId}": {
      "patch": {
        "operationId": "updateCompany",
        "tags": [
          "People"
        ],
        "summary": "Update a company",
        "description": "Rename, toggle client status, or toggle `dms_disabled` (the per-company private-chat restriction: members drop from chat pickers, can't start DMs, and existing conversations freeze read-only both ways).",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "is_client": {
                    "type": "boolean"
                  },
                  "dms_disabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "is_client",
                    "dms_disabled"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "is_client": {
                      "type": "boolean"
                    },
                    "dms_disabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "tags": [
          "People"
        ],
        "summary": "Delete a company",
        "description": "People keep their membership; they just lose the company association.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/embeds": {
      "post": {
        "operationId": "createEmbed",
        "tags": [
          "Files"
        ],
        "summary": "Turn a URL into sanctioned embed markup",
        "description": "Server-generated embed markup for the allowlist: YouTube, Vimeo, Loom, Spotify, X, Flickr, Imgur, SoundCloud, and direct `.gif` URLs. Non-allowlisted URLs return `{html: null}`: keep a plain link. Client-supplied iframe HTML is never accepted anywhere; the returned markup also round-trips the rich-text sanitizer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The markup, or null for a non-allowlisted URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "html"
                  ],
                  "properties": {
                    "html": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Sanitized figure/iframe markup to insert"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/events/{eventId}/cheers": {
      "get": {
        "operationId": "listEventCheers",
        "tags": [
          "Recordings"
        ],
        "summary": "List cheers on a change-log event",
        "description": "Cheers on one row of a recording's change log. The per-recording events listing already inlines the same shape.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cheers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventCheer"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createEventCheer",
        "tags": [
          "Recordings"
        ],
        "summary": "Cheer a change-log event",
        "description": "Up to 16 characters of text or emoji. Pings the event's actor through their `notify_cheers` channel, bundled into one notification per recording within 3 hours. An exact duplicate returns 200 `{already_cheered: true}` instead of 201.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Already cheered with exactly this content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "already_cheered"
                  ],
                  "properties": {
                    "already_cheered": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "The added cheer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "content"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/folders": {
      "get": {
        "operationId": "listProjectFolders",
        "tags": [
          "Files"
        ],
        "summary": "List project folders",
        "description": "Account-wide home-screen groupings of projects. Move a project in or out via PATCH /projects/{id} with `folder_id` (or null).",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "The folders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectFolder"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createProjectFolder",
        "tags": [
          "Files"
        ],
        "summary": "Create a project folder",
        "description": "Any non-client member can manage folders; clients get 403.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "color": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 30
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created folder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectFolder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/folders/{folderId}": {
      "patch": {
        "operationId": "updateProjectFolder",
        "tags": [
          "Files"
        ],
        "summary": "Rename, recolor, or reorder a folder",
        "description": "Any non-client member; clients get 403.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "color": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 30
                  },
                  "position": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated folder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectFolder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectFolder",
        "tags": [
          "Files"
        ],
        "summary": "Delete a project folder",
        "description": "The folder's projects drop back to the top level. Any non-client member; clients get 403.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/{orgSlug}/groups": {
      "get": {
        "operationId": "listGroups",
        "tags": [
          "People"
        ],
        "summary": "List groups",
        "description": "Groups bundle non-client people for @-mentions and pickers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "The organization's groups with their members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PeopleGroup"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createGroup",
        "tags": [
          "People"
        ],
        "summary": "Create a group",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgSlug"
          }
        ],
        "requestBody": {
[...]
